.mdui-row > [class*="mdui-col-"] {
    padding-top: 56px;
    padding-bottom: 70px;
    /*background-color: #E8EAF6;*/
    /*border: 1px solid #C5CAE9;*/
    /*margin-bottom: 8px;*/
}
html,body {
    height: 100%;
}
.mdui-toolbar {
    position: fixed;
    z-index: 1;
}
#code-button {
    margin-right: 30px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 0!important;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
#code-icon {
    top: -7px;
    left: -7px;
    font-size: 20px;
}
.mdui-drawer {
    top: 56px;
}
.mdui-container, .mdui-container-fluid {
    min-height: 77.88%;
}
.card-box {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.mdui-card {
    max-width: 280px;
    height: 442.462px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.mdui-card-actions {
    position: absolute;
    bottom: 8px;
    left: 7px;
}
#card-time {
    text-align: center;
}
#card-time p {
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer-nav {
    position: fixed;
    width: 100%;
    /*margin-top: 50px;*/
    /*margin-bottom: 1%;*/
    bottom: 0px;
    height: 60px;
}
.footer-nav p {
    text-align: center;
    font-size: 11px;
    font-family:'ChannelSlanted2';
    padding-top: 25px;
}
.footer-nav a {
    color: #ffff00;
}
