* {
    margin: 0;
    padding: 0;
}
/*隐藏滚动条 Chrome*/
/*参考https://juejin.im/post/5a6046dbf265da3e253c3534*/
body::-webkit-scrollbar {
    display: none;
}
/*隐藏滚动条 IE & Edge*/
body {
    -ms-overflow-style: none;
}
/*隐藏滚动条 Firefox*/
/*html {*/
    /*!*注意！若只打 hidden，chrome 的其它 hidden 会出问题*!*/
    /*overflow: -moz-hidden-unscrollable; */
    /*height: 100%;*/
/*}*/

/*body {*/
    /*height: 100%;*/
    /*!*浏览器滚动条的长度大约是 18px*!*/
    /*width: calc(100vw + 18px); */
    /*overflow: auto;*/
/*}*/
/*html,body {*/
    /*height: 100%;*/
/*}*/
/*.mdui-row > [class*="mdui-col-"] {*/
    /*padding-top: 13px;*/
    /*padding-bottom: 70px;*/
    /*background-color: #E8EAF6;*/
    /*border: 1px solid #C5CAE9;*/
    /*margin-bottom: 8px;*/
/*}*/
.mdui-toolbar {
    position: fixed;
    z-index: 1;
    opacity: 0.9;
}
/*#code-button {*/
    /*margin-right: 30px;*/
    /*width: 40px;*/
    /*min-width: 40px;*/
    /*height: 40px;*/
    /*padding: 0!important;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/
/*#code-icon {*/
    /*top: -7px;*/
    /*left: -7px;*/
    /*font-size: 20px;*/
/*}*/
.mdui-drawer {
    top: 56px;
}
.mdui-container-fluid {
    margin-top: 70px;
    min-height: calc(100vh - 130px);
    /*margin-bottom: 60px;*/
    box-sizing: border-box;
    margin-top: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}
.siteName {
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #ffe1e1;
}
.siteName p {
    font-size: 100px;
    text-align: center;
    font-weight: 500;
    line-height: 400px;
}
.s {
    color: #5994F5;
}
.u {
    color: #EA4335;
}
.n {
    color: #FBBC05;
}
.l {
    color: #5994F5;
}
.y {
    color: #34a853;.
}
.doot {
    font-size: 30px;
}
.in {
    color: #EA4335;
    font-size: 30px;
}
/*280*4+10*8=1200*/
.card-box {
    max-width: 1200px;
    display: flex;
    display: -webkit-flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.mdui-card {
    width: 280px;
    height: 442px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.empty-card {
    width: 280px;
    height: 0px;
    margin: 0 10px 0 10px;
}
.mdui-card-actions {
    position: absolute;
    bottom: 8px;
    left: 7px;
}
#card-time {
    text-align: center;
}
#card-time p {
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 手机平板上右下角菜单距离屏幕右下角*/
.mdui-fab-fixed, .mdui-fab-wrapper {
    position: fixed!important;
    right: 20px!important;
    bottom: 40px!important;
}
.footer-nav {
    position: relative;
    width: 100%;
    /*margin-top: 50px;*/
    /*margin-bottom: 1%;*/
    bottom: 0px;
    height: 60px;
    opacity: 0.9;
}
.footer-nav p {
    text-align: center;
    font-size: 10px;
    font-family:'ChannelSlanted2';
    padding-top: 25px;
}
.footer-nav a {
    color: #ffff00;
    text-decoration: none;
}