/*通用样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 1200px;
    margin: 50px auto 400px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000000;
}
th {
    width: 100%;
    text-align: left;
    font-size: 18px;
    text-indent: 2em;
    height: 60px;
    line-height: 60px;
}
td {
    height: 200px;
}
/*通用样式*/
/*鼠标触发的过渡效果*/
.fire {
    background: rgb(221, 221, 221);
}
.fire td {
    cursor: crosshair;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.fire span {
    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 21px;
}
.trigger {
    width: 160px;
    height: 141px;
    position: absolute;
    top: 0;
    left: 535px;
    opacity: 0;
    transition: all 1s linear .5s;
}
.trigger:hover {
    opacity: 1;
}
.fire img {
    position: absolute;
    top: 15px;
    left: 550px;
    width: 130px;
    height: auto;
}
.fire .flame {
    left: 15px;
}
.fire .wood {
    top: 142px;
    z-index: 4;
    opacity: .4;
}
.fire .trigger::after {
    content: "";
    width: 400px;
    height: 300px;
    background: radial-gradient(ellipse farthest-corner, red, yellow 36%, rgb(221, 221, 221) 74%, rgb(221, 221, 221));
    position: absolute;
    top: -72px;
    left: -116px;
    opacity: .4;
    z-index: 2;
}
/*飞行的方块*/
.fly {
    background-color: #cccccc;
}
.fly td {
    position: relative;
}
.fly div {
    width: 106px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    animation: move 7s infinite;
    text-align: center;
}
@keyframes move {
    0% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
    15% {
        top: 20px;
        left: 500px;
        width: 45px;
        height: 150px;
        background-color: pink;
        transform: rotate(0deg);
    }
    30% {
        top: 40px;
        left: 1000px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: red;
        border-radius: 10px;
        transform: rotate(-60deg);
    }
    35% {
        top: 110px;
        left: 1000px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: red;
        border-radius: 50%;
        transform: rotate(0deg);
    }
    55% {
        top: 100px;
        left: 600px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        background-color: orange;
        transform: rotate(360deg);
    }
    70% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: yellow;
        border-radius: 10px;
        transform: rotate(-1440deg);
    }
    80% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: #b8ff16;
        transform: scale(0.5);
    }
    85% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
}
/*带呼吸的圆环*/
.sun {
    background-color: #8DD0FF;
}
.sun div:nth-child(1){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
}
.sun div:nth-child(1)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(145, 209, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    animation: breathe1 4s linear infinite;
}
.sun div:nth-child(1)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    animation: breathe1 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
.sun div:nth-child(2){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
}
.sun div:nth-child(2)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    animation: breathe2 2s infinite;
}
.sun div:nth-child(2)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    animation: breathe2 3s infinite;
}
@keyframes breathe1 {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
    60% {
        transform: scale(1.2);
        box-shadow: 0px 0px 2px 5px rgba(255, 255, 255, .3);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
}
@keyframes breathe2 {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px rgba(255,255,255,0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }
}
/*cortana*/
.cortana {
    background-color: #000000;
}
.cortana td {
    position: relative;
    overflow: hidden;
}
.cortana p {
    color: #ffffff;
    margin-top: 200px;
    position: absolute;
    top: -30%;
    left: 546px;
    animation: text 15s linear infinite;
}
.large-translucent-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 50%;
    background-color: rgb(0, 54, 97);
    border-radius: 50%;
    animation: start-large 15s ease infinite;
}
.opaque-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 50%;
    background: rgb(0, 116, 208);
    border-radius: 50%;
    animation: start-opaque 15s linear infinite;
}
.small-translucent-cirle {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 40%;
    left: 50%;
    background: rgb(0, 54, 97);
    border-radius: 50%;
    animation: start-small 15s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
}
.transparent-circle {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 40%;
    left: 50%;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    animation: start-transparent 15s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
}
@keyframes start-large {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    10% {
        transform: translate(-50%, -50%) scale(1);
    }
    12% {
        transform: translate(-50%, -50%) scale(1);
    }
    20% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    22% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    /*24% {*/
        /*transform: translate(-50%, -50%) scale(0.85);*/
    /*}*/
    36% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    44% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    52% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    60% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    68% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    76% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    84% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    92% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    93% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes start-opaque {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    3% {
        transform: translate(-50%, -50%) scale(0);
    }
    10% {
        transform: translate(-50%, -50%) scale(1);
    }
    12% {
        transform: translate(-50%, -50%) scale(1);
    }
    20% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    24% {
        transform: translate(-50%, -50%) scale(0.6);
    }
    26% {
        transform: translate(-50%, -50%) scale(0.65);
    }
    /*36% {*/
        /*transform: translate(-50%, -50%) scale(0.7);*/
    /*}*/
    44% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    52% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    60% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    68% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    76% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    84% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    92% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    93% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes start-small {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    7% {
        transform: translate(-50%, -50%) scale(0);
    }
    /*5% {*/
        /*transform: translate(-50%, -50%) scale(0.8);*/
    /*}*/
    12% {
        transform: translate(-50%, -50%) scale(1);
    }
    20% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    26% {
        transform: translate(-50%, -50%) scale(0.55);
    }
    50% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }

}
@keyframes start-transparent {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    8% {
        transform: translate(-50%, -50%) scale(0);
    }
    10% {
        transform: translate(-50%, -50%) scale(0.85);
    }
    12% {
        transform: translate(-50%, -50%) scale(1);
    }
    18% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    /*20% {*/
        /*transform: translate(-50%, -50%) scale(0.58);*/
    /*}*/
    /*24% {*/
        /*transform: translate(-50%, -50%) scale(0.7);*/
    /*}*/
    28% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    36% {
        transform: translate(-50%, -50%) scale(0.95);
    }
    44% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    52% {
        transform: translate(-50%, -50%) scale(1);
    }
    60% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    68% {
        transform: translate(-50%, -50%) scale(1);
    }
    76% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    84% {
        transform: translate(-50%, -50%) scale(1);
    }
    92% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    93% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes text {
    0% {
        top: 0;
        opacity: 0;
    }
    7% {
        top: 0;
        opacity: 0;
    }
    8% {
        color: #ffffff;
    }
    10% {
        color: rgb(0, 95, 171);
        top: -50px;
        opacity: 1;
    }
    92% {
        top: -50px;
        opacity: 1;
    }
    93% {
        color: rgb(0, 95, 171);
        top: -50px;
        opacity: 0;
    }
    100% {
        color: rgb(0, 95, 171);
        top: -50px;
        opacity: 0;
    }
}