/*通用样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 1200px;
    margin: 50px auto 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000000;
}
th {
    width: 100%;
    text-align: left;
    font-size: 18px;
    text-indent: 2em;
    height: 60px;
    line-height: 60px;
}
td {
    height: 200px;
}
/*通用样式*/
/*鼠标触发的过渡效果*/
.fire td {
    cursor: crosshair;
    background: rgb(221, 221, 221);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.fire span {
    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 21px;
}
.trigger {
    width: 160px;
    height: 141px;
    position: absolute;
    top: 0;
    left: 535px;
    opacity: 0;
    -webkit-transition: all 1s linear .5s;
    -moz-transition: all 1s linear .5s;
    -ms-transition: all 1s linear .5s;
    -o-transition: all 1s linear .5s;
    transition: all 1s linear .5s;
}
.trigger:hover {
    opacity: 1;
}
.fire img {
    position: absolute;
    top: 15px;
    left: 550px;
    width: 130px;
    height: auto;
}
.fire .flame {
    left: 15px;
}
.fire .wood {
    top: 142px;
    z-index: 4;
    opacity: .4;
}
.fire .trigger::after {
    content: "";
    width: 400px;
    height: 300px;
    background: radial-gradient(ellipse farthest-corner, red, yellow 36%, rgb(221, 221, 221) 74%, rgb(221, 221, 221));
    position: absolute;
    top: -72px;
    left: -116px;
    opacity: .4;
    z-index: 2;
}
/*飞行的方块*/
.fly td {
    background-color: #cccccc;
    position: relative;
}
.fly div {
    width: 106px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    -webkit-animation: move 7s infinite;
    -o-animation: move 7s infinite;
    animation: move 7s infinite;
    text-align: center;
}
@keyframes move {
    0% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
    15% {
        top: 20px;
        left: 500px;
        width: 45px;
        height: 150px;
        background-color: pink;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        top: 40px;
        left: 1000px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: red;
        border-radius: 10px;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    35% {
        top: 110px;
        left: 1000px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: red;
        border-radius: 50%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    55% {
        top: 100px;
        left: 600px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        background-color: orange;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    70% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: yellow;
        border-radius: 10px;
        -webkit-transform: rotate(-1440deg);
        -moz-transform: rotate(-1440deg);
        -ms-transform: rotate(-1440deg);
        -o-transform: rotate(-1440deg);
        transform: rotate(-1440deg);
    }
    80% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: #b8ff16;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    90% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
}
/*带呼吸的圆环*/
.sun {
    background-color: #8DD0FF;
}
.sun div:nth-child(1){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
}
.sun div:nth-child(1)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(145, 209, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    -webkit-animation: breathe1 4s linear infinite;
    -o-animation: breathe1 4s linear infinite;
    animation: breathe1 4s linear infinite;
}
.sun div:nth-child(1)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    -webkit-animation: breathe1 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    -o-animation: breathe1 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    animation: breathe1 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
.sun div:nth-child(2){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
}
.sun div:nth-child(2)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    -webkit-animation: breathe2 2s infinite;
    -o-animation: breathe2 2s infinite;
    animation: breathe2 2s infinite;
}
.sun div:nth-child(2)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    -webkit-animation: breathe2 3s infinite;
    -o-animation: breathe2 3s infinite;
    animation: breathe2 3s infinite;
}
@keyframes breathe1 {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
    60% {
        transform: scale(1.2);
        box-shadow: 0px 0px 2px 5px rgba(255, 255, 255, .3);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
}
@keyframes breathe2 {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px rgba(255,255,255,0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }
}