/*通用样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 1200px;
    margin: 50px auto 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000000;
}
th {
    width: 100%;
    text-align: left;
    font-size: 18px;
    text-indent: 2em;
    height: 60px;
    line-height: 60px;
}
td {
    height: 200px;
}
/*通用样式*/
/*鼠标触发的过渡效果*/
.shoot td {
    height: 400px;
    cursor: crosshair;
    text-align: center;
}
.shoot div {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 350px;
    border: 2px solid #003004;
}
/*飞行的方块*/
.fly td {
    background-color: #cccccc;
    position: relative;
}
.fly div {
    width: 106px;
    height: 60px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    -webkit-animation: move 5s infinite;
    -o-animation: move 5s infinite;
    animation: move 5s liner infinite;
    text-align: center;
}
@keyframes move {
    0% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
    15% {
        top: 20px;
        left: 500px;
        width: 45px;
        height: 150px;
        background-color: pink;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        top: 60px;
        left: 1000px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: red;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    35% {
        top: 120px;
        left: 1000px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: red;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    55% {
        top: 100px;
        left: 600px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: orange;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    75% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: yellow;
        -webkit-transform: rotate(-1440deg);
        -moz-transform: rotate(-1440deg);
        -ms-transform: rotate(-1440deg);
        -o-transform: rotate(-1440deg);
        transform: rotate(-1440deg);
    }
    90% {
        top: 100px;
        left: 200px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background-color: #b8ff16;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        top: 20px;
        left: 20px;
        width: 106px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
    }
}
/*带呼吸的圆环*/
.sun {
    background-color: #8DD0FF;
}
.sun div:nth-child(1){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
    /*background-color: pink;*/
}
.sun div:nth-child(1)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    -webkit-animation: breathe1 3s linear infinite;
    -o-animation: breathe1 3s linear infinite;
    animation: breathe1 3s linear infinite;
}
.sun div:nth-child(1)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    -webkit-animation: breathe1 4s linear infinite;
    -o-animation: breathe1 4s linear infinite;
    animation: breathe1 4s linear infinite;
}
.sun div:nth-child(2){
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 0;
    float: left;
}
.sun div:nth-child(2)::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    -webkit-animation: breathe2 2s infinite;
    -o-animation: breathe2 2s infinite;
    animation: breathe2 2s infinite;
}
.sun div:nth-child(2)::after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    -webkit-animation: breathe2 3s infinite;
    -o-animation: breathe2 3s infinite;
    animation: breathe2 3s infinite;
}
@keyframes breathe1 {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
    60% {
        transform: scale(1.2);
        box-shadow: 0px 0px 2px 5px rgba(255, 255, 255, .3);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 14px 12px rgba(255, 255, 255, .3);
    }
}
@keyframes breathe2 {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px rgba(255,255,255,0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgba(255,255,255,0.7);
    }
}