/*@font-face {*/
    /*font-family: 'cwTeXMing';*/
    /*font-style: normal;*/
    /*font-weight: 500;*/
    /*src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot);*/
    /*src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix) format('embedded-opentype'),*/
    /*url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2) format('woff2'),*/
    /*url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff) format('woff'),*/
    /*url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf) format('truetype');*/
/*}*/
body {
    background-color: #e8e8e8;
}
p, h1 {
    text-align: center;
    font-family: '宋体';
    /*font-family: PMingLiU;*/
    /*font-family: 'Noto Sans SC Sliced', sans-serif;*/
    /*font-family: 'Noto Sans TC', sans-serif;*/
    /*font-family: 'Noto Sans SC', sans-serif;*/
    /*font-family: '0c16162dbb314613bc8fd7a6520b6baf' !important;*/
}
.sentence {
    font-size: 53px;
    margin-bottom: 53px;
}
.description {
    font-size: 18px;
    line-height: 0px;
}
.date {
    font-size: 21px;
    line-height: 50px;
}
#section2 {
    padding: 0 15% 0 15%;
}
#section3 {
     padding: 0 13% 0 13%;
}
.sentence-2 {
    font-size: 40px;
    text-align: left;
    margin: 0 20% 53px 30%;
}
#date2 {
    margin-left: 10px;
}
.sentence-3 {
    font-size: 40px;
    /*text-align: left;*/
    margin: 0 20% 53px 20%;
}
.sentence-5 {
    margin: 0 20% 53px 20%;
}
.to-down {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 27px;
}
.css-icon-down {
    height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    animation: downdown 1.5s infinite both 2s;
    -webkit-animation: downdown 2.5s infinite both 1s;
}
i.css-icon-down:before {
border-bottom: 4px solid #000000;
border-right: 4px solid #000000;
width: 25px;
height: 25px;
}
@keyframes downdown {
0% {
opacity: 0;
transform: translate3d(0,-8px,0);
}

60% {
opacity: 0.3;
transform: translate3d(0,0,0);
}

100% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
}
}